 <form ng-submit="ctrl.saveResume(ctrl.edited_resume)">
    <div>
        <div class="input-block">
            <label for="name">Degree</label>
            <input type="text" id="name" name="name" required ng-model="ctrl.edited_resume.title" />
        </div>
        <div class="input-block">
            <label for="name">School</label>
            <input type="text" id="name" name="name" required ng-model="ctrl.edited_resume.subtitle" />
        </div>
    </div>
    <div>
        <div class="input-block">
            <label for="diploma_start_date">From</label> 
            <md-datepicker 
                class="white"
                ng-model="ctrl.edited_resume.start_date" 
                md-max-date="ctrl.edited_resume.end_date"
                md-open-on-focus="true"
                ng-required="true"
                md-mode="month"
            ></md-datepicker>
        </div>
        <div class="input-block">
            <label for="diploma_end_date">To</label>
            <md-datepicker 
                class="white"
                ng-model="ctrl.edited_resume.end_date" 
                md-min-date="ctrl.edited_resume.start_date"
                md-open-on-focus="true"
                ng-required="true"
                md-mode="month"
                ng-if="ctrl.edited_resume && !ctrl.edited_resume.current"
            ></md-datepicker>
            <input type="checkbox" id="diploma_current" 
                   focus-on-keys="#diploma_end_date" keys="[32]"
                   ng-model="ctrl.edited_resume.current"
                   name="diploma_current"/> 
            <label for="diploma_current" ng-click="ctrl.edited_resume.end_date = null">Current diploma</label>
        </div>
    </div>
    <div class="ctas">
        <button type="submit" class="cta green" 
           focus-on-keys="#education{{ctrl.edited_resume.id }} [editable-button]" keys="[13]">Save</button>
        <button type="button" class="cta white" 
               focus-on-keys="#education{{ctrl.edited_resume.id }} [editable-button]" keys="[13]" 
               ng-click="ctrl.edited_id= ctrl.edited_resume = null;"
                >Cancel</button>
        <button ng-if="ctrl.edited_resume.id" 
                type="button" class="right cta red" 
                focus-on-keys="#education_blocks [editable-button]" keys="[13]"
                ng-click="ctrl.deleteResume(ctrl.edited_resume)" 
                editable-delete>Delete</button>
    </div>
</form>